<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{399,113},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{399,1},{110,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{176,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{207,165},{176,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,8}</string>
                <key>spriteSize</key>
                <string>{190,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{207,1},{190,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{204,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{357,593},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{143,463},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{315,339},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,323},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{281,479},{112,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{243,601},{114,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{127,601},{116,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{385,221},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,599},{128,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,465},{138,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{148,140}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{165,321},{148,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,2}</string>
                <key>spriteSize</key>
                <string>{162,146}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,175},{162,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue.png</string>
            <key>size</key>
            <string>{508,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb828897e0ff9983aae1f4220bb654cd:f1de7f7128adb68d97677da226dd62bf:06e17f1fdf634a552aa2320423342f7a$</string>
            <key>textureFileName</key>
            <string>blue.png</string>
        </dict>
    </dict>
</plist>
