<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spritesheet0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{136,146}</string>
                <key>textureRect</key>
                <string>{{102,1},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{111,117}</string>
                <key>textureRect</key>
                <string>{{200,1},{99,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{99,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{75,105}</string>
                <key>spriteSourceSize</key>
                <string>{97,107}</string>
                <key>textureRect</key>
                <string>{{301,1},{75,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading3.png</string>
            <key>size</key>
            <string>{377,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8681d335323edee2a85c51496ed821:f1750b75a045ba2caf14fbf30abff058:6ba78d1c8f365e9d7deac7b9e4940f42$</string>
            <key>textureFileName</key>
            <string>loading3.png</string>
        </dict>
    </dict>
</plist>
