<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,493},{166,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{166,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,481},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,819},{168,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,18},{168,164}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,143},{168,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,21},{168,158}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,302},{168,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,26},{168,148}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,451},{168,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,33},{168,135}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,587},{168,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,38},{168,125}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,713},{168,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,31},{168,139}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,853},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,25},{168,150}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,493},{162,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,16},{162,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,462},{168,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,20},{168,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,316},{168,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,17},{168,166}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,483},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,652},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,662},{166,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{166,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,662},{160,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,16},{160,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,0},{150,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,16},{150,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,338},{138,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,16},{138,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,169},{124,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,16},{124,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,338},{136,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,16},{136,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,169},{155,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,16},{155,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{148,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,16},{148,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-31.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{158,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,16},{158,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-32.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,831},{164,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,16},{164,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-33.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,147},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-34.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,324},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-35.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,157},{168,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,17},{168,166}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-36.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,776},{168,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{168,161}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-37.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,623},{168,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,24},{168,152}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{169,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,29},{169,142}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-39.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,0},{168,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,36},{168,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,662},{144,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,16},{144,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-40.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,821},{168,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,34},{168,132}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-41.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{168,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,27},{168,146}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-42.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,0},{168,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,22},{168,156}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-43.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,298},{168,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,18},{168,163}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-44.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,129},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,16},{168,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,831},{132,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,16},{132,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,507},{128,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,16},{128,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,831},{142,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,16},{142,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,169},{154,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,16},{154,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>frame-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,831},{162,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,16},{162,168}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>loading2.png</string>
			</dict>
		</dict>
</plist>