<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{286,0},{114,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{136,0},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA5551</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>listBee.png</string>
            <key>size</key>
            <string>{398,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3e9078b1fe0f0dcd835d438debad16:d96ed6ed6a9232871c09418d3880b486:639b10c18b873f20c0f57674c236bb8f$</string>
            <key>textureFileName</key>
            <string>listBee.png</string>
        </dict>
    </dict>
</plist>
